.warpper {
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	min-width: 1200px;
	display: flex;
}

.col {
	
}

.col-left {
	width: 400px;
}

.col-right {
	position: relative;
	background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
	background-color: #282828;
	background-size: 16px 16px;
	width: calc(100% - 400px);
	display: flex;
	padding: 50px;
}

.col-right .content {
	width: 100%;
	border: 1px #fff solid;
	background-color: #eee;
	background-image: linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc), 
	linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc);
	background-size:40px 40px;
	background-position:0 0, 20px 20px;
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
}

